html, body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;

}

body {
  background-color: rgb(144, 120, 112);
  overflow-y: hidden;
}

nav {
  background-color: rgb(144, 120, 112) !important;
}

img.logo {
    height: 50px !important;
    max-width: 100px !important;
}

a.navbar-item:hover {
  background-color: #887169;
}

a.nav-item {
  color: white !important;
  font-family: 'Lato';
  text-decoration: none;
}

a.btn-contact {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important;
  text-decoration: none;
}

.intro {
  padding-left: 100px;
  padding-top: 200px;
}

.diagonal {
  transform:  skewY(-20deg);
  width: 500px;
  height: 200px;
  background-color: white;
  float: right;
}

.roboto-font {
  font-family: Roboto Condensed;
  color: white;
}

.is-font-45 {
  font-size: 45px !important;
  line-height: 1;
}

.is-font-20 {
  font-size: 20px;
  line-height: 2;
}

.name {
  color: #fad5c5;
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}
